#jumpscare {
   position: absolute; 
   top: 0px; 
   left: 0px; 
   width: 100%; 
   height: 100%; 
   cursor: pointer; 
   visibility: hidden;
}

body{
   background-color: black;
}

button{
   border-radius: 10px;
   display: block;
   margin: 600px auto;
   width: 300px;
   height: 75px;
   font-size: 50px;
}
